.button {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: gainsboro;
  cursor: pointer;
}

.activeButton {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bold;
  color: aliceblue;
  background-color: cornflowerblue;
  cursor: pointer;
}
